
<div class="p-4">
    <header class="header d-flex justify-content-between align-items-center" >
        <h1 class="title">Add New User</h1>
        <button matDialogClose class="btn btn-danger">
          <mat-icon>close</mat-icon>
        </button>
    </header>
    
    <form [formGroup]="newTaskFrom">
        <div class="row mt-3 bloc">
            <div class="col-md-12 input">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Title</mat-label>
                    <input matInput  formControlName="title" placeholder="title">
                </mat-form-field>
            </div>
                <div class="col-md-12 input">
                <label for="selectFile" class="btn btn-primary">Select File</label>
                <span>{{fileName}}</span>
                <input type="file" id="selectFile" (change)="selectImage($event)" hidden class="form-control">
                </div>
                <div class="col-md-12 input">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Deadline Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="deadline">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>  
                <div class="col-md-12 input">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Description</mat-label>
                        <textarea matInput  placeholder="task description ...." formControlName="description"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-12 input">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option value="In-Progress">In-Progress</mat-option>
                            <mat-option value="Completed">Completed</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
        </div>
    </form>

    <footer class="tw-p-6 footer">
        <div class="d-flex justify-content-center align-items-center">
            <button *ngIf="!data" class="btn btn-success py-1 px-5 mx-2" (click)="createTask()" >Create</button>
            <button *ngIf="data"  class="btn btn-primary py-1 px-5 mx-2" (click)="updateTask()" >Update</button>
            <button  class="btn btn-danger" matDialogClose>Close</button>
          </div>
        
    </footer>
</div>